@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300");
body {
  background: #1A3D3B;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 30px;
  color: #222;
}

img {
    height: 100%;
    width: auto;
}

label {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  display: block;
  width: 60%;
  height: 60%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.card {
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 600ms;
  transition: all 600ms;
  z-index: 20;
}

.card div {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #FFF;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 5px;
}

/* Info items */
.card ul.info {
    cursor: default;
    text-align: center;
}
    ul.info li{ 
        float: left;
        display: block;
        font-size: 30px;
    }

/* Titles */
.card h1 {
    color: #313f47;
    line-height: 0.5;
}

/* Back Card */
    .card .back {
      background: #222;
      color: #FFF;
      -webkit-transform: rotateX(180deg);
      vertical-align: bottom;
      transform: rotateX(180deg);
      font-size: 20px;
    }

    label:hover .card {
      -webkit-transform: rotateX(10deg);
      transform: rotateX(10deg);
      box-shadow: 0 20px 20px rgba(50, 50, 50, 0.2);
    }

    input {
      display: none;
    }

    :checked + .card {
      transform: rotateX(180deg);
      -webkit-transform: rotateX(180deg);
    }

    label:hover :checked + .card {
      transform: rotateX(170deg);
      -webkit-transform: rotateX(170deg);
      box-shadow: 0 20px 20px rgba(255, 255, 255, 0.2);
    }
